Trabalhos/tp2/EDC-ParteC-Properties/EDC-ParteC-Properties/EDC-ParteC-Properties/App_Data/properties.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="properties">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="property">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="land_register" type="xs:unsignedByte" />
              <xs:element name="address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="city" type="xs:string" />
                    <xs:element name="street" type="xs:string" />
                    <xs:element name="port_number" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="value" type="xs:unsignedInt" />
              <xs:element name="owners">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="owner">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="tax_number" type="xs:unsignedShort" use="required" />
                        <xs:attribute name="date_purchase" type="xs:string" use="required" />
                        <xs:attribute name="data_sale" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="land_register" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>